---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>YOLO</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>




  </p>
</div>



    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://eduardokobra.com/wp-content/gallery/toquio-2016/Toquio-8.jpg');">
      <div class="banner-content">
        <h1>Bom Dia</h1>
        <p>Let's Make it Happen</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="First Name">
          <input type="text" class="form-control input-lg" placeholder="Last name">
          <select name="" id="" class="form-control input-lg">
            <option value="1">Journalist</option>
            <option value="2">DJ</option>
            <option value="3">Painter</option>
          </select>
          <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </form>
      </div>
    </div>
    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="https://image.flaticon.com/icons/svg/281/281279.svg" alt="">
          <h2>Groovy Touch</h2>
          <p>Daily Curated Mixes.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="https://image.flaticon.com/icons/svg/320/320421.svg" alt="">
          <h2>Emotional Motion</h2>
          <p>Indie Movies and documentaries.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="https://image.flaticon.com/icons/svg/269/269198.svg" alt="">
          <h2>Documenting our World</h2>
          <p>Discover new culture and lifestyle.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="https://image.flaticon.com/icons/svg/214/214275.svg" alt="">
          <h2>Street Painting</h2>
          <p>Making uggly walls speak.</p>
        </div>
      </div>
    </div>
    <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">They Made it Happen</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://maytepiragibe.com/wp-content/uploads/2014/07/newjersy-baixa.jpg');">
              <div class="card-category">Recife</div>
              <div class="card-description">
                <h2>Modern Family</h2>
                <p>Poço da Panela Community</p>
              </div>
              <img class="card-user avatar avatar-large" src="https://www.thenewpoundcoin.com/images/layout/pound-coin-front.png">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://urbanpeek.com/wp-content/uploads/2013/10/painting-an-entire-favela-in-rio-de-janeiro-2-e1381382742139.jpg');">
              <div class="card-category">Rio de Janeiro</div>
              <div class="card-description">
                <h2>Slumdog Millionaire</h2>
                <p>Vidigal Commuity</p>
              </div>
              <img class="card-user avatar avatar-large" src="http://www.cpordevises.com/uploads/issue/recto/30/Napoleon_20_NIIILaure_A.png">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static1.squarespace.com/static/51dc537fe4b040f5d4df4922/538a73afe4b0b78a64b7d9a4/538a73bee4b0ca8eeb954017/1401582529614/Photo_10.jpg');">
              <div class="card-category">São Paulo</div>
              <div class="card-description">
                <h2>Vida Boa</h2>
                <p>Beco do Batman Community</p>
              </div>
              <img class="card-user avatar avatar-large" src="http://www.cpordevises.com/uploads/issue/recto/28/Napoleon_20_MarianneCoq_A.png">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary">
      </form>
    </div>

    <div id="map" style="width: 100%;height: 500px;"></div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>This is a AirLife Home challenge @ LeWagon</p>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.852937,2.364178);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"You are here!"
    });
    </script>


    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
